.product {
    margin: 25px;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .product-image img {
    width: 350px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
  }
  .product-details {
    flex: 1;
  }
  .product-title {
    font-size: 24px;
    margin: 10px 0;
  }
  .product-categoryName {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .product-price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .product-content{
  
  }
  .product-description{
    margin-top: 25px;
    padding: 15px;
    font-size: larger;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(174, 5, 5);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  .add-to-cart:hover {
    background-color: rgb(255, 0, 0);
    transition: all 0.5s;
  }
  /* ///////////////////////// */
  /* POP UP */
  .popup {
    display: none;
    animation: popupdelete 0.5s;
  }
  @keyframes popupdelete {
    from {
      opacity: 1;
      top: 15%;
    }
    to {
      opacity: 0;
      top: 100%;
    }
  }
  .popup-active {
  
  }
  .popup-overlay {
    top: 15%;
    position: fixed;
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popupload 0.6s;
  }
  @keyframes popupload {
    from {
      top: 30%;
      opacity: 0;
    }
    to {
      top: 15%;
      opacity: 1;
    }
  }
  .popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
  }
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  /* ///////////////////// */
  /* 3D Figur */
  @keyframes popupdelete {
    from {
      opacity: 1;
      top: 15%;
    }
    to {
      opacity: 0;
      top: 100%;
    }
  }
  .figur-active {
  
  }
  .figur-overlay {
    top: 15%;
    position: fixed;
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: figurload 0.6s;
  }
  @keyframes figurload {
    from {
      top: 30%;
      opacity: 0;
    }
    to {
      top: 15%;
      opacity: 1;
    }
  }
  .figur-content {
    position: relative;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
  }
  .figur-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  /* ///////////////////// */
  
  @media only screen and (max-width: 1000px) {
    .cards {
      display: block;
    }
    .card {
      width: 100%;
    }
  }