body {
  max-width: 100%;
  background-image: url(./arkaplan.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: all load 1s;
}

@keyframes load {

  from {
    opacity: 0;
    width: 60%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0
}

.active {
  animation: load 1s;
}

.navbar {
  border-bottom: solid rgb(216, 216, 216) 0.01px;
  font-size: large;
}
/* ////////////////////// */

/* KARTLAR */
.custom-cards {
  display: flex;
  justify-content: center;
}
.custom-card {
  border: none;
  padding: 3%;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  perspective: 1000px;
  transition: all 0.7s;
}
.custom-card a {
  text-decoration: none;
  color: black;
}
.custom-card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition: all 0.7s;
  transition: all 0.7s;
  transform: rotateX(50deg);
  overflow: visible;
  padding-top: 0%;
  padding-left: 7%;
}
.custom-card-content {
  transform-style: preserve-3d;
  transition: transform 0.3s;
}
.custom-card-price
{
  margin-top: 15px;
  font-size: large;
  justify-content: center;
  text-align: center;
}
.custom-card-image{
  justify-content: center;
  text-align: center;
}
.custom-card-button
{
  border: none;
  font-size: larger;
  justify-content: center;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 7px;
  padding: 7px;
}
.custom-card:hover .custom-card-title,
.custom-card:hover .custom-card-content,
.custom-card:hover .custom-card-price,
.custom-card:hover .custom-card-button,
.custom-card:hover .custom-card-image {
  opacity: 0;
  transform: translateZ(20px);
  transition: all 0.7s;
}
.character {
  top: -20px;
  width: 70%;
  opacity: 0;
  transition: all 0.7s;
  position: absolute;
  filter: drop-shadow(4px 40px 12px #777777);
  animation: moveAnimation 3s linear infinite;
}
@keyframes moveAnimation {
  0% {
    transform: translateY(-45%);
  }
  50% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-45%);
  }
}
.custom-card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -40%, 100px);

}
/* //////////////// */
/* Kategori */
.category {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  float: left;
  width: 85%;
  height: 100%;
  margin:15px ;
  font-size: large;
  padding: 25px;

}
.figur-card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}
.category h1 {
  font-size: 18px;
  margin-bottom: 10px;
  border: solid transparent 1px;
  border-radius: 7px;
  background-color: #ececec;
  padding: 15px;
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category li {
  margin-bottom: 5px;
}

.category a {
  text-decoration: none;
  color: #333;
}
/* //////////////// */