/* Açılış Sayfası */
.welcome-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(252, 252, 252);
  z-index: 1;
  animation: moveTop 1s 2s forwards;
  font-size: 5vw;
  }
  
  .welcome-content {
  user-select: none;
  color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  font-family: 'verdana';
  font-weight: bold;
  letter-spacing: 20px;
  opacity: 0;
  animation: opacity 1s forwards  ease-in-out;
  position: relative;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
    }
    @keyframes moveTop {
    0% {
      opacity: 1;
    }
    100% {
      top: -100%;
      bottom: 100%;
      opacity:0;
    }
    }

.image {
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px 40px 12px #777777);
  width: 30%;
  height: 15%;
  flex: 0;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7px;
  transition: all 0.5s;
  color: rgb(8, 8, 8);
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  padding: 25px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  height: max-content;
  transition: all 0.5s;
}
.container:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.image {
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px 40px 12px #777777);
  width: 30%;
  height: 15%;
  flex: 0;
}